# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
out/

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local
.dev.vars
**/.wrangler/

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*.png
.agents/
.agent/
.claude/
