@import "tailwindcss";

@theme {
  --color-brand-primary: #0ea5e9;
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
